<h1>Generate Tokens</h1>

<input ng-model="vm.token.votes" type="number" min="1" class="form-control welcome-dialog-input" placeholder="Number of points for token">
<br>
<textarea ng-model="vm.mails" class="form-control welcome-dialog-input" placeholder="Mails (separated by commas)"></textarea>
<br>
<div ng-repeat="group in vm.groups">{{group}}</div>
<div id="datetimepicker"></div>
<br>
<div class="send-tokens-wrapper">
    <button ng-click='vm.sendTokens()' class="send-tokens issue-button">Send Tokens</button>
    <div class="error-message" ng-show="vm.validation"> <i class="glyphicon glyphicon-alert"></i>THERE ARE ERRORS - TOKENS CANNOT BE SENT</div>
</div>

