<h1>Generate Tokens</h1>

<input ng-model="vm.token.votes" type="number" min="1" class="form-control welcome-dialog-input" placeholder="Number of points for token">
<br>
<h4>Paste mails here</h4>
<textarea ng-model="vm.mails" class="form-control welcome-dialog-input" placeholder="Mails (separated by commas)"></textarea>
<br>
<div ng-hide="vm.groups.length === 0">or</div>
<h4 ng-hide="vm.groups.length === 0">Select LDAP groups (if any checkbox is selected, above mails input will be ignored):</h4>
<div ng-hide="vm.groups.length === 0" class="groups-wrapper">
    <div ng-repeat="group in vm.groups" class="checkbox">
        <label><input  ng-click="vm.toggleGroup(group)" type="checkbox" value="">{{group}}</label>
    </div>
</div>

<div>Select tokens expiring time:</div>
<div id="datetimepicker"></div>
<br>
<div class="send-tokens-wrapper">
    <button ng-click='vm.sendTokens()' class="send-tokens issue-button">Send Tokens</button>
    <div class="error-message" ng-show="vm.validation"> <i class="glyphicon glyphicon-alert"></i>THERE ARE ERRORS - TOKENS CANNOT BE SENT</div>
</div>

