<div class="issue-view-title">{{vm.issue.title}}
    <div class="issue-view-votes">
        <div class=issue-view-vote-button ng-click="vm.vote()">+1</div>
        <div>Votes: {{vm.issue.votes.length}}</div>
    </div>
</div>
<div class="issue-view-description">
    <h4>Created by {{vm.issue.authorId}} on {{vm.issue.creationDate}}</h4>
    {{vm.issue.description}}
</div>

<div class="post-badge" ng-repeat="post in vm.posts">
    <div class="post-header">{{post.authorId}} has written:</div>
    <div class="post-content">{{post.content}}</div>
</div>
