$navbarWidth:20vw;
$collapsedNavbarWidth : 5vw;
$letterSpacing: 3px;
$workspaceBorder: 2px;

//COLORS
$color-jacarta: #0665a4;
$color-affair: #2878c0;
$color-studio: #4c91c6;
$color-tapestry: #4e90c9;
$color-victoria: #0165b0;
$color-prelude: #84bce7;
$color-white: white;

//CREATOR
$creatorNavbarWidth: 150px;