$navbarWidth:20vw;
$collapsedNavbarWidth : 5vw;
$letterSpacing: 3px;
$workspaceBorder: 2px;

//COLORS
$color-jacarta: #3C2B63;
$color-affair: #754996;
$color-studio: #9E4CAD;
$color-tapestry: #A3478F;
$color-victoria: #4947A3;
$color-prelude: #CEB2E2;
$color-white: white;

//CREATOR
$creatorNavbarWidth: 150px;