@import "variables";

.navbar {
  background-color: $color-jacarta;
  border-radius: 0;
  border: 0;
  letter-spacing: $letterSpacing;
  height: 70px;
  width: 100%;
  position: fixed;
  border-bottom: 2px solid $color-studio;


  .nav.navbar-nav {
    height: 100%;
    display: flex;
  }

  a {
    color: $color-white;
    font-size: 20px;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
  }

  .nav > li {
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 100%;
    a {
      line-height: 40px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  .nav > li.yait-title {
    color: white;
    font-size: 30px;
    line-height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    &:hover {
      border-bottom: 2px solid $color-studio;
      background-color: $color-jacarta;
    }
  }

  .nav > li.admin-button {
    position: absolute;
    top: 0;
    left: 100px;
  }


  .nav .logout {
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav .token-info {
    color: white;
    font-size: 24px;
    line-height: 70px;
    position: absolute;
    cursor: initial;
    width: 650px;
    top: 0;
    right: 0;
    &:hover {
      border-bottom: 2px solid $color-studio;
      background-color: $color-jacarta;
    }
  }


  .nav > li:hover, li.active {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid $color-white;
  }

}

.navbar-emphasis {
  color: $color-prelude;
}


.main {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  .workplace {
    width: 95%;
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
  }

}

