@import "variables";


.issues-accordion {
  margin-top: 20px;
}

.new-issue-button {
  color: white;
  border-radius: 0;
  background-color: $color-jacarta;
  height: 50px;
  font-size: 24px;
  width: 200px;
  &:hover {
    color: white;
  }

  &:focus, &:active {
    outline: none;
    color: white;
  }

  i {
    margin-right: 5px;
  }
}

.issue-header {
  height: 50px;
  display: flex;
  background-color: $color-jacarta;
  cursor: pointer;
  border: 1px solid $color-studio;
  color: white;

  .issue-title {
    height: 100%;
    font-size: 24px;
    margin-left: 20px;
    line-height: 50px;
    span {
      color: #CEB2E2;
    }
  }
}

.issue-body {
  color: $color-jacarta;
  border: 1px solid $color-studio;
  border-right-width: 2px;
  border-left-width: 2px;
  padding: 20px 10px;
}

.align-right {
  width: 500px;
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  align-items: center;
}

.issue-arrow {
  margin-top: 5px;
  width: 30px;
  font-size: 24px;

}

.issue-votes {
  font-size: 24px;
display: flex;
  width: 250px;
}

.issue-button {
  width: 170px;
  margin-right: 20px;
  line-height: 26px;
  height: 30px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: $color-studio;
  text-align: center;
  border: 2px solid white;
}

.token-size {
  padding-left: 5px;
}

.new-issue-form.input-group.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-dialog .form-control.welcome-dialog-input.new-issue-input {
  width: 80%;
}

.welcome-dialog .form-control.welcome-dialog-input.new-issue-input.description-input {
  height: 200px;
  margin-bottom: 20px;
  min-width: 200px;
}

.issue-vote-button {
  background-color: $color-studio;
  border: 2px solid white;
  border-radius: 100%;
  width: 40px;
  text-align: center;
  margin-left: -50px;
  margin-right: 10px;

}

.admin-options {
  display: flex;
}

.tabs {
  display: flex;
  justify-content: center;

  .issue-tab {
    color: white;
    background-color: $color-jacarta;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    cursor: pointer;
    border: 2px solid white;
  }

  .issue-tab.active-tab {
    background-color: $color-studio;
  }
}

.issue-description {
  white-space: pre-wrap;
  word-break: break-all;
}

.button-wrapper {
  display: flex;
  margin-top: 40px;
}

.confirmation-info {
  color: white;
  font-size: 30px;
}



